/********* Big Green **********/

.form-submit-button-big_green{

    cursor: pointer;

    -moz-border-radius:.2em;
    -webkit-border-radius:.2em;
    border-radius:.2em;

    padding:15px 25px;

    color: #eaf3ba;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
    text-shadow:0px 1px 0px #71802e;
	text-transform:uppercase;

    border:3px solid #8a9c38;

	-moz-box-shadow:inset 0px 0px 0px 2px rgba(255, 255, 255, 0.35), 0px 0px 0px 4px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow:inset 0px 0px 0px 2px rgba(255, 255, 255, 0.35), 0px 0px 0px 4px rgba(0, 0, 0, 0.10);
	box-shadow:inset 0px 0px 0px 2px rgba(255, 255, 255, 0.35), 0px 0px 0px 4px rgba(0, 0, 0, 0.10);

    background: #9fb644; /* old browsers */
    background: -moz-linear-gradient(top, #c8db6a 0%, #9fb644 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8db6a), color-stop(100%,#9fb644)); /* webkit */
	background: linear-gradient(top, #c8db6a 0%, #9fb644 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8db6a', endColorstr='#9fb644', GradientType=0 ); /* ie */
}

.form-submit-button-big_green:hover{
    color: #eaf3ba !important;
    border:3px solid #8a9c38 !important;
    background: #abc04f; /* old browsers */
    background: -moz-linear-gradient(top, #d2e477 0%, #abc04f 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2e477), color-stop(100%,#abc04f)); /* webkit */
	background: linear-gradient(top, #d2e477 0%, #abc04f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2e477', endColorstr='#abc04f', GradientType=0 ); /* ie */
}

.form-submit-button-big_green:active{
	color: #eaf3ba !important;
	border:3px solid #8a9c38 !important;
    background: #abc04f; /* old browsers */
    background: -moz-linear-gradient(top, #abc04f 0%, #d2e477 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abc04f), color-stop(100%,#d2e477)); /* webkit */
	background: linear-gradient(top, #abc04f 0%, #d2e477 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abc04f', endColorstr='#d2e477', GradientType=0 ); /* ie */
}

